<%= link_to 'Home', root_path %> |
<%= link_to 'Artists Index', billboard_artists_path(@billboard) %> |
<%= link_to 'Back to Chart', billboard_path(@billboard) %> 

<br />
<hr />
<%= link_to 'Add An Artist', new_billboard_artist_path(@billboard) %>

<h2><%= @artist.name %></h2>
<strong>Genre</strong> | <%= @artist.genre %>
<h3><i>Bio</i></h3>
<%= @artist.bio %>
<br />


<%= link_to 'Edit Artist', edit_billboard_artist_path([@billboard, @artist]) %> |
<%= link_to 'Delete Artist', [@billboard, @artist], method: :delete %> 
