<h1 class='ui header'> Charts </h1>

<%= link_to 'Home', root_path %> |
<%= link_to 'Artists Index', billboard_artists_path(@billboard) %>

<table class='ui striped table'>
  <thead>
    <tr class='center aligned'>
        <th colspan='4'></th>
      </tr>
  </thead>
  
  <% @billboard.artists.each do |artist| %>
  <tbody>
    <tr class='center aligned' %>
    <td><strong><%= artist.name %></strong> |
    <i><%= link_to 'Show', billboard_artist_path(@billboard, artist) %></i></td>
    <td><h4>Genre</h4><i><%= artist.genre %></i></td>
    </tr>

    <% end %>
  </tbody>
</table>



